{% include 'head.html' %}

<body id="particles-js">
{% include 'particlejs.html' %}
<div class="normaltext2">
{% block content %}
  {% if validlink %}
    <h1 style="color: white;">Change password</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn-secondary" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}

<div>
</body>
