<!DOCTYPE html>

<html lang="en-us">
  <head>
    <title>Password reset complete</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>

  <body class="" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
      </div>
      <!-- END Header -->

      <div class="breadcrumbs">
        <a href="/admin/">Home</a>
        &rsaquo; Password reset
      </div>

      <!-- Content -->
      <div id="content" class="colM">
        <h1>Password reset complete</h1>

        <p>Your password has been set. You may go ahead and log in now.</p>

        <p><a href="/login/">Log in</a></p>

        <br class="clear" />
      </div>
      <!-- END Content -->

      <div id="footer"></div>
    </div>
    <!-- END Container -->
  </body>
</html>
