{% load staticfiles %}

<!DOCTYPE html>
<html lang="de"h-open/osschallenge>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <title>Mate Counter</title>
  </head>
  <body>
    <h1>
      Mate Counter
    </h1>
  </body>
</html>
